@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;0,900;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.panel {
  display: flex;
}

.panel__menu {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border: solid black 5px;
}

.panel_menu_contactos__nombre {
  width: 100%;
  height: 180px;
  border: solid black 5px;

}

.panel_menu_contactos__nombre img {
  width: 45px;
  border-radius: 100%;
  
}
.panel_menu_contactos__msj {
  border: solid yellow 5px;
}
.panel_menu_contactos__contacto {
  border: solid blue 5px;

}

.panel__chat {
  width: 100%;
  display: none;
  border: solid red 5px;
}

@media (min-width: 768px) {
  .panel__menu
  {
    width: 250px;
  }

  .panel__chat {
    display: flex;
  }
}
